<%- include('_header.ejs') -%>
<section class="col-xs-12">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2>Welcome <%= username %></h2>
      </div>
    </div>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">NO</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Author</th>
          <th scope="col">Email</th>
          <th scope="col">Main</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <% for(i=0;i<data.length;i++) { %>
          <tr>
            <th scope="row"><%= i+1 %></th>
            <td><%= data[i].title %></td>
            <td><%= data[i].description %></td>
            <td><%= data[i].author %></td>
            <td><%= data[i].email %></td>
            <td><%= data[i].createAt %></td>
            <td><form method="POST" action="/delete/<%= data[i]._id %>" onsubmit="return confirm('정말 삭제하시겠습니까?')"><button type="button" class="btn btn-danger">삭제</button></form></td>
            <td><form method="GET" action="/delete/<%= data[i]._id %>" ><button type="button" class="btn btn-danger">수정</button></form></td>
          </tr>
          <% } %>
      </tbody>
    </table>
    <a href="/content"><button type="button" class="btn btn-primary">Create</button></a>
  </section>
  